.card-zik {
    padding: 15px;
    border: 1px solid $gray;
    border-radius: 10px;
    transition: all 150ms cubic-bezier(0.16, 1, 0.3, 1);

    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        max-height: 180px;
    }

    a {
        width: 100%;
        display: block;
        width: max-content;
    }

    &:hover {
        transform: translateY(-4px);
        border: 1px solid $primary;
    }
}